.cast-list{
  list-style: none;
  text-align: left;
}
.cast-list_item{
  position: relative;
  margin-bottom: 40px;
}

.cast-list_item::after{
  position: absolute;
  content: "";
  bottom: -10px; 
  display: block;
  width: 200px;
  height: 2px;
  background-color: black; 
}